<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Trainings catalog</title>
    <link rel="icon" type="image/png" sizes="512x512" href="/img/123443.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/img/123443.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">E-Sport</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/trainee">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-primary" href="/trainee/dashboard">dashboard</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-primary" href="/trainee/auth/logout">logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page catalog-page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Available trainings</h2>
                    <p>Choose the training that suites you and start NOW</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-none d-md-block">
                                <div class="filters">
                                    <div class="filter-item">
                                        <h3>Sports</h3>
                                        {{#sports}}
                                        <div class="form-check"><input onchange="toggleDisplay(this)" class="form-check-input" type="checkbox" id="{{name}}" value="{{name}}"><label class="form-check-label" for="formCheck-1">{{name}}</label></div>
                                        {{/sports}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
                                <div class="collapse"
                                    id="filters">
                                    <div class="filters">
                                        <div class="filter-item">
                                            <h3>Sports</h3>
                                             {{#sports}}
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="{{name}}" value="{{name}}"><label class="form-check-label" for="formCheck-1">{{name}}</label></div>
                                             {{/sports}}</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="products">
                                <div class="row no-gutters">
                                     {{#trains}}
                                    <div class="col-12 col-md-6 col-lg-4 sport sport-{{'sport.name'}}">   
                                        <div class="clean-product-item">
                                            <div class="image"><a href="/trainee/sport/{{id}}"><img class="img-fluid d-block mx-auto" src="/img/{{'sport.name'}}.png"></a></div>
                                            <div class="product-name text-center"><a href="#">{{'sport.name'}}</a></div>
                                            <div class="product-name text-center"><a href="/trainee/trainer/{{'trainer.id'}}">Captain : {{'trainer.name'}}</a></div>
                                            <div class="about ">
                                                <div class="price text-center" style="width:100%">
                                                    <h3>{{day}}</h3>
                                                </div>
                                            </div>
                                            <div class="about">
                                                <div class="price text-center" style="width:100%">
                                                    <h3>{{start_at}} - {{ends_at}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      {{/trains}}
                                </div>
                                <nav>
                                  <!-- show more button -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 E-Sports platform</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/js/script.min.js"></script>
    <script src="/js/helper.js"></script>
</body>

</html>